HOST=0.0.0.0
PORT=3001
DATABASE_PATH=./data/video-manager.db
VIDEO_UNPROCESSED_DIR=/mnt/video-manager/unprocessed
VIDEO_PROCESSING_DIR=./data/processing
VIDEO_ARCHIVED_DIR=./data/archived
VIDEO_PROCESSED_DIR=/mnt/video-manager/processed
WEB_ORIGIN=http://localhost:5173
VSR_API_URL=http://127.0.0.1:8332
